<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bitácora de Entregas</title>
  <link rel="stylesheet" href="./seguimiento-entrega.component.css">
</head>
<body>
  <div class="form-container container">
    <h1 class="text-center mb-4">Bitácora de Entregas</h1>
    <form (ngSubmit)="consultarEntregas()" #form="ngForm">
      <div class="mb-3">
        <label for="consultaPor" class="form-label">Buscar por:</label>
        <select id="consultaPor" name="consultaPor" class="form-select" required [(ngModel)]="consultaPor" #consultaPorModel="ngModel">
          <option value="codigo">Código Entrega</option>
          <option value="cliente">Nombre Cliente</option>
          <option value="venta">Total de Venta</option>
          <option value="tipo">Tipo de Entrega (Con Observación/Sin Observación)</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="consultaValor" class="form-label">Introduce el valor a buscar:</label>
        <input type="text" id="consultaValor" name="consultaValor" class="form-control" placeholder="Introduce el valor a buscar" required [(ngModel)]="consultaValor" #consultaValorModel="ngModel">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar</button>
      </div>
    </form>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>Código Entrega</th>
          <th>Descripción</th>
          <th>Nombre Cliente</th>
          <th>Total Venta</th>
          <th>Observaciones</th>
          <th>Tipo de Entrega</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entrega of entregasConDetalles">
          <td>{{ entrega.codEntrega }}</td>
          <td>{{ entrega.descripcion }}</td>
          <td>{{ entrega.clienteNombre }}</td>
          <td>{{ entrega.ventaTotal }}</td>
          <td>{{ entrega.observaciones ? entrega.observaciones : 'Sin observaciones' }}</td>
          <td>{{ entrega.tipoEntrega }}</td>
          <td>{{ entrega.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
