<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bitácora de Entregas</title>
  <link rel="stylesheet" href="./bitacora.component.css">
</head>
<body>
  <div class="form-container container">
    <h1 class="text-center mb-4">Bitácora</h1>
    <form (ngSubmit)="consultarBitacoras()" #form="ngForm">
      <div class="mb-3">
        <label for="consultaPor" class="form-label">Buscar por:</label>
        <select id="consultaPor" name="consultaPor" class="form-select" required [(ngModel)]="consultaPor" #consultaPorModel="ngModel">
          <option value="tabla">Tabla</option>
          <option value="operacion">Operación</option>
          <option value="usuario">Usuario</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="consultaValor" class="form-label">Introduce el valor a buscar:</label>
        <input type="text" id="consultaValor" name="consultaValor" class="form-control" placeholder="Introduce el valor a buscar" required [(ngModel)]="consultaValor" #consultaValorModel="ngModel">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar</button>
      </div>
    </form>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>ID Bitácora</th>
          <th>Tabla Nombre</th>
          <th>Operación</th>
          <th>Código Registro</th>
          <th>Fecha Operación</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bitacora of bitacorasFiltradas">
          <td>{{ bitacora.idBitacora }}</td>
          <td>{{ bitacora.tablaNombre }}</td>
          <td>{{ bitacora.operacion }}</td>
          <td>{{ bitacora.codRegistro }}</td>
          <td>{{ bitacora.fechaOperacion }}</td>
          <td>{{ bitacora.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
