<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta Venta</title>
  <link rel="stylesheet" href="./consulta-venta.component.css">
</head>
<body>
  <div class="form-container container">
    <h1 class="text-center mb-4">Consulta Venta</h1>
    <form (ngSubmit)="consultarVentas()" #form="ngForm">
      <div class="mb-3">
        <label for="consultaPor" class="form-label">Buscar por:</label>
        <select id="consultaPor" name="consultaPor" class="form-select" required [(ngModel)]="consultaPor" #consultaPorModel="ngModel">
          <option value="codigo">Código Venta</option>
          <option value="cliente">Nombre Cliente</option>
          <option value="total">Total de Venta</option>
          <option value="estatus">Estatus</option>
          <option value="tipo">Tipo de Venta (Mayor/Menor)</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="consultaValor" class="form-label">Introduce el valor a buscar:</label>
        <input type="text" id="consultaValor" name="consultaValor" class="form-control" placeholder="Introduce el valor a buscar" required [(ngModel)]="consultaValor" #consultaValorModel="ngModel">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar</button>
      </div>
    </form>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>Código Venta</th>
          <th>Nombre Cliente</th>
          <th>Fecha de Venta</th>
          <th>Total</th>
          <th>Estatus</th>
          <th>Tipo de Venta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventasConDetalles">
          <td>{{ venta.codVenta }}</td>
          <td>{{ venta.clienteNombre }}</td>
          <td>{{ venta.fechaVenta }}</td>
          <td>{{ venta.totalVenta }}</td>
          <td>
            {{ 
              venta.statusVenta === 0 ? 'En Proceso...' : 
              venta.statusVenta === 1 ? 'Entregado' : 
              venta.statusVenta === 2 ? 'Cancelado' : 
              'Estado desconocido'
            }}
          </td>
          <td>{{ venta.tipoVenta }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
