<div class="container">
    <div class="form-container p-4 rounded shadow">
      <h1 class="text-center mb-4">Dar de Baja Producto</h1>
      <form>
        <div class="form-group">
          <label for="codigoProducto" class="form-label">Código Producto</label>
          <input type="number" id="codigoProducto" name="codigoProducto" [(ngModel)]="codigoProducto" placeholder="Ingrese código del producto" required class="form-control">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" (click)="buscarProducto()">Buscar</button>
        </div>
        <div *ngIf="producto" id="productoInfo">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.existencia }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.status === 1 ? 'Activo' : 'Inactivo' }}</td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <button type="button" class="btn btn-danger btn-block" (click)="darDeBaja()">Dar de Baja</button>
            <button type="button" class="btn btn-secondary btn-block" (click)="reiniciar()">Reiniciar</button>
          </div>
        </div>
        <div id="mensaje" class="status" *ngIf="mensaje">
          {{ mensaje }}
        </div>
      </form>
    </div>
  </div>
  