<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de Producto</title>
    <link rel="stylesheet" href="./ingresar-producto.component.css">
</head>
<body>
    <div class="form-container container">
        <h1 class="text-center">Ingreso de Producto</h1>
        <form (ngSubmit)="agregarProducto()" #form="ngForm">
            <div class="row">
                
                <div class="col-md-6 mb-3">
                    <label for="product-description" class="form-label">Descripción:</label>
                    <input type="text" id="product-description" name="descripcion" class="form-control" placeholder="Introduce la descripción del producto" [(ngModel)]="nuevoProducto.descripcion" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="product-provider-code" class="form-label">Proveedor:</label>
                    <select id="product-provider-code" name="codProveedor" class="form-select" [(ngModel)]="nuevoProducto.codProveedor" required>
                        <option *ngFor="let proveedor of proveedores" [value]="proveedor.codProveedor">{{ proveedor.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="product-expiry-date" class="form-label">Fecha de Vencimiento:</label>
                    <input type="date" id="product-expiry-date" name="fechaVencimiento" class="form-control" [(ngModel)]="nuevoProducto.fechaVencimiento" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="product-location" class="form-label">Ubicación Física:</label>
                    <select id="product-location" name="ubicacion" class="form-select" [(ngModel)]="nuevoProducto.ubicacion" required>
                        <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.codUbicacion">{{ ubicacion.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="product-min-stock" class="form-label">Existencia Mínima:</label>
                    <input type="number" id="product-min-stock" name="existencia" class="form-control" placeholder="Introduce la existencia mínima" [(ngModel)]="nuevoProducto.existencia" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="number" id="precio" name="precio" [(ngModel)]="nuevoProducto.precio" required class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="product-status" class="form-label">Estatus:</label>
                    <select id="product-status" name="status" class="form-select" [(ngModel)]="nuevoProducto.status" required>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <div class="col-12 mb-3 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Agregar Producto</button>
                </div>
            </div>
        </form>
    </div>
  </body>
</html>
