<div class="container">
  <div class="form-container p-4 rounded shadow">
    <h1 class="text-center mb-4">Dar de Baja Cliente</h1>
    <form>
      <div class="form-group">
        <label for="codigoCliente" class="form-label">Código Cliente</label>
        <input type="number" id="codigoCliente" name="codigoCliente" [(ngModel)]="codigoCliente" placeholder="Ingrese código del cliente" required class="form-control">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" (click)="buscarCliente()">Buscar</button>
      </div>
      <div *ngIf="cliente" id="clienteInfo">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>NIT</th>
              <th>Dirección</th>
              <th>Categoría</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ cliente.primerNombre }} {{ cliente.segundoNombre }}</td>
              <td>{{ cliente.primerApellido }} {{ cliente.segundoApellido }}</td>
              <td>{{ cliente.nit }}</td>
              <td>{{ cliente.direccionCliente }}</td>
              <td>{{ cliente.categoriaCliente }}</td>
              <td>{{ cliente.status === 1 ? 'Activo' : 'Inactivo' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
          <button type="button" class="btn btn-danger btn-block" (click)="darDeBaja()">Dar de Baja</button>
          <button type="button" class="btn btn-secondary btn-block" (click)="reiniciar()">Reiniciar</button>
        </div>
      </div>
      <div id="mensaje" class="status" *ngIf="mensaje">
        {{ mensaje }}
      </div>
    </form>
  </div>
</div>
