<div class="menu-container">
     <!-- Menu -->
    <h1 routerLink="/menu" >Auto Ventas</h1>
    <div class="menu-item" (click)="toggleClientes()">
        <i class="fas fa-users"></i> Clientes
    </div>
     <!-- Clientes -->
    <div *ngIf="clientesVisible" class="sub-menu">
        <div class="sub-menu-item" routerLink="/IngresoCliente">Crear Cliente</div>
        <div class="sub-menu-item" routerLink="/ConsultarCliente">Consultar</div>
        <div class="sub-menu-item" routerLink="/ActualizarCliente">Actualizar</div>
        <div class="sub-menu-item" routerLink="/BajaCliente">Dar de Baja</div>
    </div>
    <hr />
    <div class="menu-item" (click)="toggleProductos()">
        <i class="fas fa-box"></i> Productos
    </div>
    <div *ngIf="productosVisible" class="sub-menu">
        <div class="sub-menu-item" routerLink="/IngresoProducto">Ingreso de Producto</div>
        <div class="sub-menu-item" routerLink="/ConsultaProducto">Consultar</div>
        <div class="sub-menu-item" routerLink="/ActualizarProducto">Actualización</div>
        <div class="sub-menu-item" routerLink="/BajaProducto">Baja de Producto</div>
    </div>

    <hr />
    <div class="menu-item" (click)="toggleVentas()">
        <i class="fas fa-box"></i> Ventas
    </div>
    <div *ngIf="ventasVisible" class="sub-menu">
        <div class="sub-menu-item" routerLink="/IngresoVenta">Ingreso Ventas</div>
        <div class="sub-menu-item" routerLink="/ConsultaVenta">Consulta Ventas</div>
    </div>
    <hr />

    <!-- Notas de Crédito -->
    <div class="menu-item" (click)="toggleNotas()">
    <i class="fas fa-file-invoice"></i> Notas de Crédito
    </div>
    <div *ngIf="notasVisible" class="sub-menu">
    <div class="sub-menu-item" routerLink="/AnulacionVentas">Anulación de Ventas</div>
    <div class="sub-menu-item" routerLink="/DevolucionProducto">Devolución de Producto</div>
    </div>
    <hr />



     <!-- Entrega de Paquetes -->
     <div class="menu-item" (click)="togglePaquetes()">
        <i class="fas fa-truck"></i> Entrega de Paquetes
    </div>
    <div *ngIf="paquetesVisible" class="sub-menu">
        <div class="sub-menu-item" routerLink="/Bitacora">Bitácora</div>
        <div class="sub-menu-item" routerLink="/IngresoEntrega">Ingreso de Entrega</div>
        <div class="sub-menu-item" routerLink="/SeguimientoEntrega">Seguimiento de Entrega</div>
    </div>
    <hr />

</div>

