<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="menu-container text-center">
        <h1>Menú Principal</h1>
        <button class="btn btn-primary" (click)="navigateTo('clientes')"><i class="fas fa-users"></i> Clientes</button>
        <button class="btn btn-primary" (click)="navigateTo('productos')"><i class="fas fa-box"></i> Productos</button>
        <button class="btn btn-primary" (click)="navigateTo('ventas')"><i class="fas fa-shopping-cart"></i> Ventas</button>
        <button class="btn btn-primary" (click)="navigateTo('notasCredito')"><i class="fas fa-file-invoice"></i> Notas de Crédito</button>
        <button class="btn btn-primary" (click)="navigateTo('entregaPaquetes')"><i class="fas fa-truck"></i> Entrega de Paquetes</button>
    </div>
</div>
