<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cliente</title>
    <link rel="stylesheet" href="./actualizar-cliente.component.css">
</head>
<body>
    <div class="container">
        <div class="form-container p-4 rounded shadow">
            <h1 class="text-center mb-4">Actualizar Cliente</h1>
            <form (ngSubmit)="buscarCliente()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="codigoCliente" class="form-label">Código Cliente</label>
                        <input type="text" id="codigoCliente" name="codigoCliente" [(ngModel)]="codigoCliente" [readonly]="cliente !== null" required class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-primary btn-block mt-4">Consultar</button>
                    </div>
                </div>
            </form>
            <form *ngIf="cliente" (ngSubmit)="actualizarCliente()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="primerNombre" class="form-label">Primer Nombre</label>
                        <input type="text" id="primerNombre" name="primerNombre" [(ngModel)]="cliente.primerNombre" required class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="segundoNombre" class="form-label">Segundo Nombre</label>
                        <input type="text" id="segundoNombre" name="segundoNombre" [(ngModel)]="cliente.segundoNombre" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="primerApellido" class="form-label">Primer Apellido</label>
                        <input type="text" id="primerApellido" name="primerApellido" [(ngModel)]="cliente.primerApellido" required class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                        <input type="text" id="segundoApellido" name="segundoApellido" [(ngModel)]="cliente.segundoApellido" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nit" class="form-label">NIT</label>
                        <input type="text" id="nit" name="nit" [(ngModel)]="cliente.nit" required class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="direccionCliente" class="form-label">Dirección Cliente</label>
                        <input type="text" id="direccionCliente" name="direccionCliente" [(ngModel)]="cliente.direccionCliente" required class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="categoriaCliente" class="form-label">Categoría Cliente</label>
                        <select id="categoriaCliente" name="categoriaCliente" [(ngModel)]="cliente.categoriaCliente" required class="form-control">
                            <option [value]="1">Frecuente</option>
                            <option [value]="0">No Frecuente</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="estadoCliente" class="form-label">Estado Cliente</label>
                        <select id="estadoCliente" name="estadoCliente" [(ngModel)]="cliente.status" required class="form-control">
                            <option [value]="1">Activo</option>
                            <option [value]="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <button type="submit" class="btn btn-success btn-block">Actualizar</button>
                    </div>
                    <div class="col-6 mb-3">
                        <button type="button" class="btn btn-secondary btn-block" (click)="reiniciarFormulario()">Reiniciar</button>
                    </div>
                </div>
            </form>
            <div *ngIf="mensaje" id="mensaje" class="status">{{ mensaje }}</div>
        </div>
    </div>

</body>
</html>
