<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Producto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./consulta-producto.component.css">
</head>
<body>
    <div class="form-container container">
        <h1 class="text-center">Consulta Producto</h1>
        <form (ngSubmit)="consultarProductos()" #form="ngForm">
            <div class="mb-3">
                <label for="consultaPor" class="form-label">Buscar por:</label>
                <select id="consultaPor" name="consultaPor" class="form-select" required [(ngModel)]="consultaPor" #consultaPorModel="ngModel">
                    <option value="codigo">Código</option>
                    <option value="descripcion">Descripción</option>
                    <option value="fecha">Fecha de Vencimiento</option>
                    <option value="status">Estatus</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="consultaValor" class="form-label">Introduce el valor a buscar:</label>
                <input type="text" id="consultaValor" name="consultaValor" class="form-control" placeholder="Introduce el valor a buscar" required [(ngModel)]="consultaValor" #consultaValorModel="ngModel">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Buscar</button>
            </div>
        </form>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Código Proveedor</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Ubicación Física</th>
                    <th>Existencia</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{ producto.codProducto }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.codProveedorNavigation?.nombre }}</td>
                    <td>{{ producto.fechaVencimiento }}</td>
                    <td>{{ producto.ubicacionNavigation?.nombre }}</td>
                    <td>{{ producto.existencia }}</td>
                    <td>{{ producto.status === 1 ? 'Activo' : 'Inactivo' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
