<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="menu-container text-center">
        <h1>Productos</h1>

        <button class="btn btn-primary" routerLink="/IngresoProducto">Ingreso de Producto</button>
        <button class="btn btn-primary" routerLink="/ConsultaProducto">Consultar</button>
        <button class="btn btn-primary" routerLink="/ActualizarProducto">Actualización</button>
        <button class="btn btn-primary" routerLink="/BajaProducto">Baja de Producto</button>
    </div>
</div>

