<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="menu-container text-center">
    <h1>Clientes</h1>
    <div class="menu-item" routerLink="/IngresoCliente">
      <i class="fas fa-user-plus"></i> Crear Cliente
    </div>
    <hr />
    <div class="menu-item" routerLink="/ConsultarCliente">
      <i class="fas fa-search"></i> Consultar
    </div>
    <hr />
    <div class="menu-item" routerLink="/ActualizarCliente">
      <i class="fas fa-edit"></i> Actualizar
    </div>
    <hr />
    <div class="menu-item" routerLink="/BajaCliente">
      <i class="fas fa-user-slash"></i> Dar de Baja
    </div>
  </div>
</div>

